name: Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master, staging ]
jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Run Vitest tests
        run: pnpm test:unit
        env:
          VITE_API_WEATHER_KEY: ${{ secrets.VITE_API_WEATHER_KEY }}
          VITE_API_WEATHER_ENDPOINT: ${{ secrets.VITE_API_WEATHER_ENDPOINT }}
  e2e:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.56.1-noble
      options: --user 1001
    steps:
    - uses: actions/checkout@v5
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    - uses: actions/setup-node@v5
      with:
        node-version: lts/*
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install
    - name: Run Playwright tests (chromium only)
      run: pnpm exec playwright test --project=chromium --reporter=html
      env:
        VITE_API_WEATHER_KEY: ${{ secrets.VITE_API_WEATHER_KEY }}
        VITE_API_WEATHER_ENDPOINT: ${{ secrets.VITE_API_WEATHER_ENDPOINT }}
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
